/* Table Tag Style Start */
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid black;
    padding: 5px;
  }
  
  th {
    background-color: #ccc;
    text-align: center;
  }
  
  td {
    text-align: left;
  }
button{
  color: rgb(255, 255, 255);
  background-color: rgb(60, 168, 60);
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }  

  button:hover {
    background-color: #529768;
  }

input{
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  
  input:hover {
    background-color: #f2f2f2;
  }
  
  .responsive {
    width: 100%;
    height: auto;
  }

  /* Previous and Next Buttons Start */

  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #04AA6D;
    color: white;
  }
  
  .round {
    border-radius: 50%;
  }

  /* Previous and Next Buttons End */